@use "variables";

@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


footer {
  position: sticky;
  background-color: variables.$component-background-color;
  top: 0;
  width: 100%;
  z-index: 9999;

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px;


    li {
      display: block;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;

      a {
        color: variables.$component-txt-color;
        text-decoration: none;
        padding: 14px;

        &:hover {
          color: variables.$component-txt-hover;
        }
      }
    }
  }
  


  main {
    padding-top: 64px;
  }
}

