//color palette
$sunglow: #FFC857;
$charcoal: #424B54;
$lavender: #E9EBF8;
$asparagus: #679436;
$red-CMYK: #EE2E31;

$component-background-color: $sunglow;
$component-txt-color: $charcoal;
$component-txt-hover: $lavender;
$component-height: 8%;